body {
  background-image: url(image/cart.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
}
.e1:hover {
  border: 5px solid black;
  color: blue;
  text-decoration: underline;
}
a:hover {
  color: yellow;
}
#t {
  border: 5px solid peachpuff;
  text-decoration: underline;
  text-transform: uppercase;
  color: blueviolet;
  background-color: yellow;
  font-style: italic;
}
button {
  background-color: darkblue;
  color: white;
  border-radius: 20px;
  transition: all 1s;
}

button:hover {
  transform: scale(1.1);
  background-color: red;
}
