body {
  background-image: url(/image/cart.jpg);
  background-size: cover;
}

h1 {
  text-align: center;
}
div {
  border: 3px solid maroon;
  background-color: rgba(0, 0, 255, 0.5);
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
}
div {
  padding: 1px;
  margin: 5px;
  box-shadow: 4px 4px 5px lightpink;
}

div:hover {
  background-color: yellowgreen;
  cursor: progress;
}

img {
  transition: transform 0.5s;
}
img:hover {
  transform: scale(1.1);
}
